{% extends 'base/base.html' %}

{% block content %}
    <p><a href="{% url 'quality_control:update_bug' bugreport.id %}">Изменить баг</a></p>

    <p><a href="{% url 'quality_control:delete_bug' bugreport.id %}" onclick="return confirm('Вы уверены, что хотите удалить этот баг?');">Удалить баг</a></p>


    <h1>{{ bugreport.title }}</h1>
    <p>{{ bugreport.description }}</p>
    <p>status: {{ bugreport.status }}</p>
    <p>priority: {{ bugreport.priority }}</p>
    <p>project: {{ bugreport.project }}</p>
    <p>task: {{ bugreport.task }}</p>
{% endblock %}